---
/**
 * Preferences Page
 *
 * Strona zarządzania preferencjami użytkownika.
 * Wyświetla listę preferencji i pozwala na operacje CRUD.
 *
 * Route: /preferences
 */

import Layout from "../layouts/Layout.astro";
import { PreferencesView } from "../preferences/components/PreferencesView";
import { shouldRenderPage } from "../features";

// Check feature flag - redirect to home if preferences feature is disabled
if (!shouldRenderPage("preferences")) {
  return Astro.redirect("/");
}
---

<Layout title="Moje Preferencje - Tripper">
  <main>
    <PreferencesView client:load />
  </main>
</Layout>
